.slogan-container{
  margin-top: 120px;
}
.slogan{
  font-size: 60px;
  line-height: 60px;
  font-family: 'DharmaGothicLight', sans-serif;
  color: #ffffff;
}
.slogan-sub{
  font-weight: 200;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
}
.btn-learn-more{
  background-color: transparent !important;
  border:1px solid #ffffff;
  padding: 4px 55px;
  color: #ffffff !important;
  border-radius: 15px;
}
