.cover_container{
  background-image: url('/static/images/Header_Image-01.jpg');
  min-height: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 20px;
}
